<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login / Signup</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="{% url 'signup' %}" method="POST">
          {% csrf_token %}
          <h1>Create Account</h1>

          <select name="typer">
            <option value="customer">Customer</option>
            <option value="seller">Seller</option>
            <option value="admin">Admin</option>
          </select>
          <input type="text" placeholder="Name" name="name" required />
          <input type="email" placeholder="Email" name="email" required />
          <input
            type="password"
            placeholder="Password"
            name="password"
            required
          />
          <input type="tel" placeholder="Phone No" name="phone" required />

          <button>Sign Up</button>
        </form>
      </div>

      <div class="form-container sign-in-container">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <h1>Login as</h1>
		  {% if error_message %}
		  <div style="margin:0px;padding: 0px 3px;height: 40px;width:275px;box-shadow: 1px 1px 1px 1px red;" >
          	<p style="margin:9px 0px;color:red;font-weight:bold; letter-spacing:0px;">{{ error_message }}</p>
		  </div>
          {% endif %}
          <select name="type">
            <option value="customer">Customer</option>
            <option value="seller">Seller</option>
            <option value="admin">Admin</option>
          </select>
          <input type="text" placeholder="Username" name="name" required />
          <input
            type="password"
            placeholder="Password"
            name="password"
            required
          />

          {% comment %} <a href="#">Forgot your password?</a> {% endcomment %}
          <button>Login</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>EasyBazaar</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>EasyBazaar</h1>
            <p>Enter your personal details and start your journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/login.js"></script>
  </body>
</html>
