{% extends 'base_admin.html' %}
{% block content %}

    
    
    <div class="add-product" style = "padding-left : 20px; margin-top : 120px; margin-bottom : 50px;">
      <a href="{% url 'add_product' %}" class="btn btn-success">Add New Product <span>+</span></a>
  </div>

    <div class="products">
      <div class="products">
          {% for p in products %}
          <div class="product-card">
              <img src="{{p.image.url}}" alt="Product Image" style = "height : 350px; width =  336px ; " />
              <div class="product-info">
                  <h3>{{p.name}}</h3>
                  <p class="price">{{p.price}}</p>
                  <p class="description">
                      {{p.description}}
                  </p>
                  <!-- Update and Delete buttons -->
                  <div class="buttons">
                      <a href="{% url 'update_product' p.id %}" class="btn btn-primary">Update</a>
                      <a href="{% url 'delete_product' p.id %}" class="btn btn-danger">Delete</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
    <!-- ***** Explore Area Starts ***** -->



    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="under-footer">
              <div class="logo">
                <img
                  src="/static/assets/images/white-logo.png"
                  alt="hexashop ecommerce templatemo"
                />
              </div>
              <p>
                Copyright © 2024 EasyBazaar Ltd. All Rights Reserved.
              </p>
             </div>
          </div>
        </div>
      </div>
    </footer>



    
    {% endblock %}
