{% extends 'base_seller.html' %}
{% block content %}

    
    
    <div class="add-product" style = "padding-left : 20px; margin-top : 120px; margin-bottom : 50px;">
      <a href="{% url 'add_product' %}" class="btn btn-success">Add New Product <span>+</span></a>

      <a href="{% url 'seller_sales' %}" class="btn btn-success">Sales Analysis </a>
    </div>



    <table>
        <thead>
          <tr>
            
            <th>Product </th>
            <th>Quantity </th>
            <th>User Name</th>
            <th>User Email</th>
            <th>Date</th>
            
          </tr>
        </thead>
        <tbody>
          <!-- Sample row -->
          {% for p in in_order_products %}
          <tr>
            <td>{{p.product.name}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.customer.name}}</td>
            <td>{{p.customer.email}}</td>
            <td> {{p.date}}</td>
          </tr>
          {% endfor %}
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    <!-- ***** Explore Area Starts ***** -->



    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="under-footer">
              <div class="logo">
                <img
                  src="/static/assets/images/white-logo.png"
                  alt="hexashop ecommerce templatemo"
                />
              </div>
              <p>
                Copyright © 2024 EasyBazaar Ltd. All Rights Reserved.
              </p>
             </div>
          </div>
        </div>
      </div>
    </footer>



    
    {% endblock %}
