{% extends 'base_seller.html' %}
{% block content %}




    <table style="margin-top : 120px">
        <thead>
          <tr>
            
            <th>Product </th>
            <th>Quantity </th>
            <th>User Name</th>
            <th>User Email</th>
            <th>Date</th>
            
          </tr>
        </thead>
        <tbody>
          <!-- Sample row -->
          {% for p in in_order_products %}
          <tr>
            <td>{{p.product.name}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.customer.name}}</td>
            <td>{{p.customer.email}}</td>
            <td> {{p.date}}</td>
          </tr>
          {% endfor %}
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    <!-- ***** Explore Area Starts ***** -->



    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="under-footer">
              <div class="logo">
                <img src="/static/Photos/White.png" alt="hexashop ecommerce templatemo" style="height: 75px;">
              </div>
              <p>
                Copyright © 2024 EasyBazaar Ltd. All Rights Reserved.
              </p>
             </div>
          </div>
        </div>
      </div>
    </footer>


  <script type = "text/javascript" >
    function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
    
    {% endblock %}
