{% extends 'base_seller.html' %}
{% block content %}


    <div class="products" style="margin-top:120px;">
      <div class="products">
          {% for p in products %}
          <div class="product-card">
              <img src="{{p.image.url}}" alt="Product Image" style = "height : 350px; width =  336px ; " />
              <div class="product-info">
                  <h3>{{p.name}}({{p.subcategory}})</h3>
                  <p class="price">{{p.price}}</p>
                  <p> Available Quantity = {{p.stock}}
                  <p class="description" style="height:155px ; margin-top:0" >
                      {{p.description}}
                  </p>
                  <!-- Update and Delete buttons -->
                  <div class="buttons">
                      <a href="{% url 'update_product' p.id %}" class="btn btn-primary">Update</a>
                      <a href="{% url 'delete_product' p.id %}" class="btn btn-danger">Delete</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
    <!-- ***** Explore Area Starts ***** -->



    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="under-footer">
              <div class="logo">
                <img src="/static/Photos/White.png" alt="hexashop ecommerce templatemo" style="height: 75px;">
              </div>
              <p>
                Copyright © 2024 EasyBazaar Ltd. All Rights Reserved.
              </p>
             </div>
          </div>
        </div>
      </div>
    </footer>



    
    {% endblock %}
